@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import './fonts.css';
@import './animations.css';

@theme {
    --color-primary: #fff;
    --color-primary-bg: #0082ce;
    --color-primary-input: #1e40af;
    --color-primary-input-bg: #1e40af10;
    --color-primary-input-bg-hover: #1e40af20;
    --color-secondary: #000000;
    --color-secondary-bg: #2D6A7510;
    --color-secondary-bg-hover: #204C5320;

    --color-light: #ffffff;
    --color-dark: #000000;
    --color-light-input: #fff;
    --color-dark-input: #000000;

    /*Fonts*/
    --font-quicksand-regular: "QuicksandRegular", sans-serif;
    --font-quicksand-medium: "QuicksandMedium", sans-serif;
    --font-quicksand-semibold: "QuicksandSemiBold", sans-serif;
    --font-quicksand-bold: "QuicksandBold", sans-serif;
    --font-quicksand-light: "QuicksandLight", sans-serif;

    /*Animations*/
    --animate-show: show .5s ease;
    --animate-key-button: key-button .2s ease-in-out;
}

:root.dark {
    --color-light: #1d232a;
    --color-dark: #ffffff;
    --color-light-input: #2f363c;
    --color-dark-input: #ffffff;

    --color-primary: #fff;
    --color-primary-bg: #045f94;
    --color-primary-input: #7493f8;
    --color-primary-input-bg: #0c3fe730;
    --color-primary-input-bg-hover: #1e40af50;
    --color-secondary: #fff;
    --color-secondary-bg: #333e4a75;
    --color-secondary-bg-hover: #204C5340;
}
