@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import './fonts.css';
@import './animations.css';

@theme {
    --color-primary: #1e40af;
    --color-primary-bg: #1e40af10;
    --color-primary-bg-hover: #1e40af20;
    --color-secondary: #000000;
    --color-secondary-bg: #2D6A7510;
    --color-secondary-bg-hover: #204C5320;

    --color-light: #ffffff;
    --color-dark: #000000;

    /*Fonts*/
    --font-quicksand-regular: "QuicksandRegular", sans-serif;
    --font-quicksand-medium: "QuicksandMedium", sans-serif;
    --font-quicksand-semibold: "QuicksandSemiBold", sans-serif;
    --font-quicksand-bold: "QuicksandBold", sans-serif;
    --font-quicksand-light: "QuicksandLight", sans-serif;

    /*Animations*/
    --animate-show: show .5s ease;
    --animate-key-button: key-button .2s ease-in-out;
}

:root.dark {
    --color-light: #000000;
    --color-dark: #ffffff;

    --color-primary-bg: #1e40af25;
    --color-primary-bg-hover: #1e40af35;

    --color-secondary-bg: #2D6A7525;
    --color-secondary-bg-hover: #204C5335;
}
